<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>D://log//signature_logs.log</file> <!-- Spécifiez le chemin et le nom du fichier de log -->
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Appender pour la console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Appender pour syslog -->
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>10.10.1.14</syslogHost> <!-- Adresse IP ou nom d'hôte du serveur syslog -->
        <port>514</port> <!-- Port du serveur syslog -->
        <facility>LOCAL0</facility> <!-- Facilité syslog -->
        <suffixPattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</suffixPattern> <!-- Format des logs -->
    </appender>
    <!-- Définissez le niveau de journalisation pour votre application -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SYSLOG" />
    </root>
</configuration>
